<foote class="bg-white text-black pt-5 pb-4">
    <div class="container">
    <div class="row no-gutters">
    <div class="col-md-12">
    <div class="text-black mt-2 mb-3">
    <ul class="p-0 list-unstyled">
    <li class="text-black-100 text-center">
      CopyRight Infratop.inc
    </li>
    </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
